/* styles.css */

/* Define variables, colors */
:root{
    --greySite: #3F4345;
    --orangeANEPC: #EC4615;
    --greenANEPC: #4D9233;
    --blueANEPC: #0A2D61;

}

/* Navbar layout */
.navbar {
    display: grid;
    background-color: white;
    grid-auto-columns: 100%;
    grid-template-rows: 4fr 3fr;
    grid-template-areas:
        "topSection"
        "bottom-nav";
}
.topSection{
    grid-area: topSection;
    display: grid;
    grid-auto-columns: 2fr 3fr;
    align-items: center;
    grid-template-areas:
        "nav-logo main-nav";
}
.nav-logo {
    grid-area: nav-logo;
    display: flex;
    justify-content: center;
}
.main-nav {
    grid-area: main-nav;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    font-weight: bold;
}
.main-nav .nav-link {
    font-size: 20px;
}
.bottom-nav {
    grid-area: bottom-nav;
    display: grid;
    padding: 1vh;
    background-color: var(--greySite);
    grid-template-rows: auto; /* Define grid rows */
    grid-template-columns: 60% 40%; /* Define grid columns */
    grid-template-areas:
    "dynamicText logoutButton";
}
.dynamicText {
    grid-area: dynamicText; /* Place dynamicText in its grid area */
    display: flex;
    justify-content: center;
}
.dynamicText .navbar-text{
    color:white;
}
.logoutButton {
    grid-area: logoutButton; /* Place logoutButton in its grid area */
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoutButton .dropdown-toggle{
    width: 150px;
}
.logoutButton .dropdown-menu {
    width: 150px; /* Make the dropdown menu same width as the logout button */
    margin-left: -1px; /* Adjust margin to align with the button */
    text-align: center; /* Center align the dropdown items */
}


