/* styles.css */

/* Define variables, colors */
:root {
    --greyNav: #3F4345;
    --greyTableOutline: #CCCCCC;

    /* ANEPC colors */
    --orangeANEPC: #EC4615;
    --greenANEPC: #4D9233;
    --blueANEPC: #0A2D61;

    /* Pale colors for multiple choice background */
    --greenMulti: #C9E4C2;
    --blueMulti: #C2C5E4;
    --yellowMulti: #F4F5C2;
    --orangeMulti: #F5D7C2;
    --redMulti: #F5C2C2;
    --paleGreyMulti: #F2F2F2;
}

/* Navbar layout */
.navbar {
    display: grid;
    background-color: white;
    grid-auto-columns: 100%;
    grid-template-rows: 4fr 3fr;
    grid-template-areas:
        "topSection"
        "bottom-nav";
}

.topSection {
    grid-area: topSection;
    display: grid;
    grid-auto-columns: 2fr 3fr;
    align-items: center;
    grid-template-areas:
        "nav-logo main-nav";
}

.nav-logo {
    grid-area: nav-logo;
    display: flex;
    justify-content: center;
}

.main-nav {
    grid-area: main-nav;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    font-weight: bold;
}

.main-nav .nav-link {
    font-size: 20px;
}

.bottom-nav {
    grid-area: bottom-nav;
    display: grid;
    padding: 1vh;
    background-color: var(--greyNav);
    grid-template-rows: auto; /* Define grid rows */
    grid-template-columns: 60% 40%; /* Define grid columns */
    grid-template-areas:
    "dynamicText logoutButton";
}

.dynamicText {
    grid-area: dynamicText; /* Place dynamicText in its grid area */
    display: flex;
    justify-content: center;
}

.dynamicText .navbar-text {
    color: white;
}

.logoutButton {
    grid-area: logoutButton; /* Place logoutButton in its grid area */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutButton .dropdown-toggle {
    width: 150px;
}

.logoutButton .dropdown-menu {
    width: 150px; /* Make the dropdown menu same width as the logout button */
    margin-left: -1px; /* Adjust margin to align with the button */
    text-align: center; /* Center align the dropdown items */
}


/* Identify what is what */
/*
.col{
    background-color: purple;
}

#form_AlertaLevels{
    background-color: palegreen;
}

.col > div:first-child {
    background-color: brown;
}

.row > .col:first-child > div {
    background-color: pink;
}

.row > .col:first-child > div:first-child {
    background-color: yellow;
}*/


/* MULTIPLE CHOICE */

/* Outline on Table */
.table {
    outline: var(--greyTableOutline) solid 1px;
}
/* Outline to seperate Names from choices */
.col:first-child {
    border-right: var(--greyTableOutline) solid 1px;
}
/* Outline to seperate Colors from choices */
.row:first-child{
    border-bottom: var(--greyTableOutline) solid 1px;
}

/* Multiple Choice Header Colors */
/* 1st child would be the empty one */
/* inside part */
.row:first-child > .col:nth-child(2) > div:first-child {
    background-color: var(--greenMulti);
}

.row:first-child > .col:nth-child(3) > div:first-child {
    background-color: var(--blueMulti);
}

.row:first-child > .col:nth-child(4) > div:first-child {
    background-color: var(--yellowMulti);
}

.row:first-child > .col:nth-child(5) > div:first-child {
    background-color: var(--orangeMulti);;
}

.row:first-child > .col:nth-child(6) > div:first-child {
    background-color: var(--redMulti);
}

/* outside part */
.row:first-child > .col:nth-child(2) {
    background-color: var(--greenMulti);
}

.row:first-child > .col:nth-child(3) {
    background-color: var(--blueMulti);
}

.row:first-child > .col:nth-child(4) {
    background-color: var(--yellowMulti);
}

.row:first-child > .col:nth-child(5) {
    background-color: var(--orangeMulti);;
}

.row:first-child > .col:nth-child(6) {
    background-color: var(--redMulti);
}

/* Every 2nd row grey */
.row:nth-child(odd) {
    background-color: var(--paleGreyMulti);
}

.row:nth-child(odd) > .col > div:first-child {
    background-color: var(--paleGreyMulti);
}

/* Center everything except 1st position */
.col:not(:first-child) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    margin:0;
}

.form-check-input[type=radio]{
    border-color: pink;
}

.button, input, optgroup, select, textarea {

}


