<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>homepage</title>
  <link rel="stylesheet" type="text/css" th:href="@{../springBootStyles.css}" />
</head>
<body>

<script></script>
<div id ="navBar"></div>

<div class="container">



  <p>CTO Form page</p>
  <div id="ctoForm"></div>
  <div id="multiTest"></div>

  <!--<div th:replace="~{ctoForm/ctoForm_Page1 :: ctoForm_Page1}"></div>-->
  <!-- Add a dropdown with all the options -->
  <!-- All except DECIR, call eventType -->
  <!-- eventType, calls either 1.other or 2.metereologiaAdversa -->
  <!-- 2. calls evolucaoE -->
  <!--  DIOPS
        DECIR
        DIONRBQ
        DIRACAERO
        Especial -->

</div>

<script th:src="@{/webjars/react/18.1.0/umd/react.production.min.js}"></script>
<script th:src="@{/webjars/react-dom/18.1.0/umd/react-dom.production.min.js}"></script>
<script th:src="@{components.js}"></script>

<script th:inline="javascript">
  // Import the new createRoot function
  const { createRoot } = ReactDOM;

  // Render your components using createRoot
  const NavBarRoot = createRoot(document.getElementById('navBar'));
  NavBarRoot.render(React.createElement(components.NavBar, { dynamicText: "Criar CTO" }));

  const CtoFormRoot = createRoot(document.getElementById('ctoForm'));
  CtoFormRoot.render(React.createElement(components.CtoForm));


</script>

</body>
</html>