<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>homepage</title>
</head>
<body>

<script></script>
<div class="container">
  <div th:with="replaceTHIS='Criar CTO'">
    <!-- Include navigation Bar fragment -->
    <div th:replace="~{navBar :: navBar}"></div>
  </div>

  <p>CTO Form page</p>

  <!--<div th:replace="~{ctoForm/ctoForm_Page1 :: ctoForm_Page1}"></div>-->
  <!-- Add a dropdown with all the options -->
  <!-- All except DECIR, call eventType -->
  <!-- eventType, calls either 1.other or 2.metereologiaAdversa -->
  <!-- 2. calls evolucaoE -->
  <!--  DIOPS
        DECIR
        DIONRBQ
        DIRACAERO
        Especial -->

  <div th:replace="~{ctoForm/meteorologiaAdversa :: meteorologiaAdversa}"></div> <!-- This is just a test, to see if it gets displayed properly (DELETE) -->

</div>

<script th:src="@{/webjars/react/18.1.0/umd/react.production.min.js}"></script>
<script th:src="@{/webjars/react-dom/18.1.0/umd/react-dom.production.min.js}"></script>
<script th:src="@{components.js}"></script>

<script th:inline="javascript">

</script>

</body>
</html>