<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tests page</title>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Get the element with id "replaceTHIS"
      var replaceElement = document.getElementById("replaceTHIS");

      // Get the current URL ending
      var path = window.location.pathname;
      var parts = path.split('/');
      var ending = parts[parts.length - 1];

      // Check if the current ending is "Tests" or "TEST"
      if (ending === "TEST") {
        // Replace the content of the element with id "replaceTHIS" with "TESTTTTTTTTT!"
        replaceElement.textContent = "TESTTTTTTTTT! On page Script";
      }
    });

  </script>
</head>
<body>

<div class="container">
  <div>
    <div th:replace="~{testNav :: testNav}"></div>
  </div>
  <br>
  <div id="nav"></div>
  <p>Tests page</p>
</div>

<script th:src="@{/webjars/react/18.1.0/umd/react.production.min.js}"></script>
<script th:src="@{/webjars/react-dom/18.1.0/umd/react-dom.production.min.js}"></script>
<script th:src="@{components.js}"></script>

<script th:inline="javascript">
  /*<!-- Different message depending on the msg -->*/
  const page = /*[[${page}]]*/ 'Page';
  const NavigationBar = new components.NavigationBar(page);
  ReactDOM.render(NavigationBar, document.getElementById('nav'));
</script>

</body>
</html>
